[% SET number = self.get_number %]
[% SET title = self.get_property_value('title') %]
[% SET anchor = 'attachment' _ '.' _ number %]

<a name="[%anchor%]">
<div class="attachment">

<!-- put attachment navigation link table here -->

<b>Attachment [%number%] - [%title%]</b>
<br>
[%- INCLUDE part_list.tt -%]
</div>

