[%- SET source_id = self.get_source_id -%]
[%- SET details = self.get_details -%]
[%- SET document = self.get_containing_document -%]
[%- SET docid = document.get_id -%]
[%- IF details -%]
[<a href="[%docid%].references.html#[%source_id%]">[%source_id%], [%details%]</a>]
[%- ELSE -%]
[<a href="[%docid%].references.html#[%source_id%]">[%source_id%]</a>]
[%- END -%]
