[%# args:

self => an SML::Demo object

%]
[%-

number = self.get_number
anchor = 'DEMO.' _ number

-%]
<div class="demo" id="[%anchor%]">

<!-- put demo navigation link table here -->

[%- INCLUDE division_heading.tt label = 'Demonstration' -%]

[%- INCLUDE narrative_part_list.tt -%]

</div>

