[% SET number = self.get_number %]
[% SET title = self.get_property_value('title') %]
[% SET anchor = 'demo' _ '.' _ number %]

<a name="[%anchor%]">
<div class="demo">

<!-- put demo navigation link table here -->

<b>Demo [%number%] - [%title%]</b>
<br>
[%- INCLUDE part_list.tt -%]
</div>

