[%# args:

document => an SML::Document object

%]
[%-

source_list = document.get_source_list
id          = document.get_id
title       = document.get_property('title')

-%]
[%- WRAPPER page.tt -%]

<div style="font-size:8pt;text-align:center">
<a href="[%id%].toc.html">[%- INCLUDE property.tt property = title -%]</a>
</div>

<h1 align="center">List of References</h1>

[%- FOREACH source IN source_list -%]
[%- INCLUDE source_entry.tt -%]
[%- END -%]

[%- END -%]
