[%-

number = self.get_number
anchor = 'LISTING.' _ number

-%]

<div class="listing" id="[%anchor%]">

<!-- put listing navigation link table here -->

<b>Listing [%number%] - [% INCLUDE property.tt property = self.get_property('title') %]</b>
<br/>
<pre>
[%-FILTER html-%]
[%-self.get_content-%]
[%-END-%]
</pre>
</div>

