[%# args:

self => an SML::Quotation object

%]
[%-

id = 'quotation.' _ self.get_number

-%]
<div class="quotation" id="[%id%]">

[% INCLUDE part_list.tt %]

[%- IF self.has_property('source') -%]
<span style="font-size: 8pt;"><i>Source: [%- INCLUDE property.tt property = self.get_property('source') -%]</i></span>
[%- END -%]

</div>

