<html>
<head>
<title>[% document.get_property_value('title') %]</title>
</head>
<body>
<h1>[% section.get_number %] [% section.get_property_value('title') %] </h1>

[%- FOREACH part IN section.get_part_list -%]
[% part.get_id %] [% part.get_name %] [% part.get_content %]
[%- END %]

</body>
</html>
