[% SET number = self.get_number %]
[% SET title = self.get_property_value('title') %]
[% SET anchor = 'table' _ '.' _ number %]

<a name="[%anchor%]">
<div class="table">

<!-- put table navigation link table here -->

<b>Table [%number%] - [%title%]</b>
<br>
<table>
[%- INCLUDE part_list.tt -%]
</table>
</div>
