[%

version  = document.get_property_value('version')
revision = document.get_property_value('revision')
date     = document.get_property_value('date')

%]

<tr>
<td>
<div style="text-align:center;font-size:8pt;">

[%- IF version -%]
<font color="#888888">v[%version%]</font><br/>
[%- END -%]

[%- IF revision -%]
<font color="#888888">r[%revision%]</font><br/>
[%- END -%]

[%- IF date -%]
<font color="#888888">[%date%]</font><br/>
[%- END -%]

</div>
</td>
</tr>
